spring:
  datasource:
    url: jdbc:h2:file:./data/queuectl;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: never

server:
  port: 8083

queuectl:
  backoff-base: 2
  default-max-retries: 3

logging:
  level:
    root: OFF
    org.springframework: OFF
    org.hibernate: OFF
    com.zaxxer.hikari: OFF
